@model IEnumerable<style.Models.Item>

@{
    ViewBag.Title = "boy";
}

<img src="https://i.ytimg.com/vi/IlJl7Z0SSBA/maxresdefault.jpg" width="1200" height="300" />


<div class="row">
    @foreach (var item in Model)
    {


        <div class="col-sm-6 col-md-4" >
            <div class="thumbnail">
                <div>

               
                <img src="@Url.Content(item.logo)" alt="..." width="242" height="200">
                <div class="caption">
                    <h3>@item.ItemName</h3>
                    <h3>Code:@item.Code</h3>
                    <h3>Price: @item.ItemPrice</h3>
                    <h3>Department: @item.Department</h3>

                    <p>@item.ItemDescription</p>

                    <p>
                        <a href="@Url.Action("")" class="btn btn-primary" role="button">Add to Cart</a>




                        @Html.ActionLink("Details", "Details", new { id = item.Code }, new { @class = "btn btn-warning" }) |
                    </p>
                </div>
            </div>
        </div>


    }
</div>